body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    height: 110px;
}

.content {
    flex: 1 0 auto;
}

.logo {
    position: relative;
    top: -30px;
    right: -400px;
    width: 50px;
    height: 50px;
    background-color: black;
    margin: -30px auto;
}

.shop_name {
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: lightskyblue;
}

.menu {
    background-color: black;
    text-align: center;
    height: 20px;
}

.menu li {
    list-style-type: none;
    display: inline;
    margin-right: 40px;
}

.page_name {
    text-align: center;
    letter-spacing: 10px;
    font-style: italic;
    font-size: 30px;
}

.page_info {
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.page_info a {
    color: blue;
}

.page_title {
    font-size: 18px;
    color: black;
    font-weight: 400;
    background-color: #eaeaea;
    padding-left: 5px;
}

.main .page_title {
    margin: 0 0 0 250px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    background-color: #eaeaea;
}

.page_about {
    margin: 10px 0 0 250px;
    color: #707070;
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.page_stats {
    list-style-type: square;
}

.page_about_more {
    color: #484343;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    text-align: start;
}

.catalog {
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.catalog_unit {
    width: 20%;
}

.catalog_unit a {
    color: black;
    text-decoration: none;
}

.fast_link_right {
    float: right;
    color: black;
    text-decoration: none;
}

.fast_link_left {
    float: left;
    color: black;
    text-decoration: none;
}

.main {
    margin-top: 50px;
    height: 220px;
}

.main_img {
    float: left;

}

.main_img img {
    outline: black 5px solid;
}

.main_img img:hover {
    outline: 0px;
}

.price {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 0 52px;
    float: left;
}

.button_buy {
    margin: 125px 0 0 252px;
}

.button_buy a {
    width: 100px;
    height: 25px;
    display: block;
    padding-top: 5px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
}

.button_buy a:hover {
    color: lightskyblue;
}

form {
    margin: 50px 0 13px 0;
}

.text_field {
    color: black;
    font-size: 16px;
    width: 100%;
    height: 30px;
    text-transform: capitalize;
}

.e-mail:focus {
    color: white;
    background-color: black;
}

.button {
    width: 100%;
    height: 30px;
    margin: 10px 0 0 2px;
    font-weight: bolder;
    background-color: black;
    color: white;
    border: 0px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

table td {
    border: 1px solid black;
    text-align: center;
    width: 300px;
    height: 100px;
}

.poetry {
    font-style: italic;
    font-weight: bolder;
    word-spacing: 10px;
}

.text_capitalize::first-letter {
    text-transform: capitalize;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.up_row {
    height: 150px;
    font-size: 24px;
}
hr{
    width: 100%;
}

.footer {
    flex: 0 0 auto;
    float: left;
    width: 100%;
    height: 20px;
    background-color: black;
    color: white;
    padding-bottom: 3px;
}

.footer_text {
    float: right;
    margin: 3px 10px 0 0;
}